<%- include("./header.ejs") %>

<header>
  <nav>
    <h1>Create New Recipe</h1>
    <a href="/" class="btn">Back to Home</a>
  </nav>
</header>
<main>
  <form action="/new-post" method="POST">
    <input type="text" name="title" placeholder="Recipe Title" value="<%= locals.recipe ? locals.recipe.title : '' %>" required> <!-- Prefill title -->
    <textarea name="content" placeholder="Recipe Ingredients" required><%= locals.recipe ? locals.recipe.content : '' %></textarea> <!-- Prefill content -->
    <button type="submit" class="btn">Submit</button>
  </form>
</main>

<%- include("./footer.ejs") %>
