<%- include("partials/header.ejs") %>

<h1>Home Page</h1>

<p>hI This project is al about EJS Partials & layout</p>
<p>
  Here I applied EJS Partials in several ways using public layout folder you're
  welcome to see what I did
</p>

<%- include("partials/footer.ejs") %>
